.game-item:hover {
    background-color: #444;
}

.game-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5); /* 叠加半透明黑色背景 */
}

.game-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.game-info p {
    margin: 5px 0;
    font-size: 14px;
}

.games-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    cursor: pointer;
}

.list-item.selected {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8); /* 高亮阴影效果 */
    border: 2px solid rgba(255, 255, 255, 0.8); /* 白色边框 */
    transform: scale(1.02); /* 微放大效果 */
}

.list-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* 半透明背景遮罩 */
.list-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* 控制遮罩透明度 */
    z-index: 1;
}

.game-icon {
    position: relative;
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 15px;
    object-fit: cover;
}

.game-info {
    position: relative;
    z-index: 2;
    background: transparent; /* 透明背景 */
}

.game-info h4 {
    margin: 0;
    font-size: 1.2em;
    color: #fff;
}



/* 确保 game-details 显示为 flex 布局 */
.game-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.game-details {
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: translateY(20px); /* 初始状态有一个轻微的下移 */
    border-radius: 5px;
    flex: 2;
    padding-left: 20px;
    overflow: auto;
}

.game-details.show {
    opacity: 1;
    padding-left: 20px;
    overflow: auto;
    border-radius: 5px;
    flex: 2;
    transform: translateY(0);
}

/* 游戏信息部分 */

.game-icon-large {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#game-name {
    margin: 0;
    font-size: 1.5em;
    color: #ffffff;
}

#total-time, #last-played, #rank, #average-daily-time {
    color: #b0b0b0;
    font-size: 0.8em;
}

/* 成就区域 */
.game-achievements {
    background-color: rgba(50, 50, 50, 0.8);
    padding: 10px;
    border-radius: 8px;
    color: #e0e0e0;
}

.game-achievements h3 {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 8px;
}

.achievement-list p {
    font-size: 0.9em;
    color: #d0d0d0;
    margin: 4px 0;
}

.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 40px;
    max-width: calc(100vw - 200px);  /* 限制最大高度为视口高度 */
}


.tab-content {
    padding: 10px;
    background-color:rgba(44, 44, 44, 0.4);
    border-radius: 5px;
    min-height: 100%;
}

/* 趋势图部分 */
.game-trend {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: rgba(51, 51, 51, 0.4);
    transition: transform 0.3s, backdrop-filter 0.3s ease ;
}

.game-trend:hover, .contribution-chart-container:hover {
    backdrop-filter: blur(5px);
    transform: translateY(-3px);
}

.game-trend h3 {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 8px;
}

/* 省略号菜单样式 */
.ellipsis-menu {
    position: relative;
    display: flex;
    margin-top: 0;
}

.menu-button {
    background: none;
    border: none;
    color: #e0e0e0;
    font-size: 1.5em;
    cursor: pointer;
}

.menu-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(85, 85, 85, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.menu-button:hover + .menu-dropdown,
.menu-dropdown:hover {
    display: block;
}

.menu-dropdown a {
    display: block;
    padding: 8px 16px;
    color: #e0e0e0;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.menu-dropdown a:hover {
    background-color: rgba(119, 119, 119, 0.3);
    backdrop-filter: blur(1px);
}

input[type="text"],
input[type="range"] {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* 聚焦时的样式 */
input[type="text"]:focus {
    outline: none;  /* 去除默认的蓝色边框 */
    background-color: rgba(85,85,85,0.5);
}


.contribution-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(51, 51, 51, 0.4);
    margin-bottom: 20px;
    transition: transform 0.3s, backdrop-filter 0.3s ease;
}

.chart-title {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
}

.month-cell {
    text-align: center;
    flex-grow: 1;
}
.month-row {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #e0e0e0;
    margin-bottom: 5px;
    width: 100%;
}

.contribution-chart {
    display: grid;
    grid-template-rows: repeat(7, 1fr); /* 每列显示7天 */
    grid-auto-flow: column;
    gap: 0.3vw;
    width: 100%; /* 自适应宽度 */
    height: auto;
}

.contribution-cell {
    position: relative;
    aspect-ratio: 1 / 1;
    border-radius: 2px;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.contribution-cell:hover {
    transform: scale(1.2);
    background-color: #555;
}

.tooltip {
    position: absolute;
    background-color: rgba(51, 51, 51, 0.5);
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    font-size: 12px;
    transition: opacity 0.2s ease-in-out;
    animation: fadeIn 0.2s forwards;
}

.tooltip.fade-out {
    animation: fadeOut 0.2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
